*{
  font-family:'Courier New', Courier, monospace
}

.App {
  
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  gap: 10px;
  padding-bottom: 20px;
}

.user-controle-section{
  display: flex;
  justify-content: flex-start;
  width: 90%;
  gap: 10px;
}

.user-controle-section button{
  background:transparent;
  box-shadow:2px 2px 5px lightgrey;
  border:none;
  cursor: pointer;
  padding:10px 20px;
  border-radius: 5px;
}

.user-controle-section button:hover{
  background-color:rgb(251, 141, 159);
  transition: 0.4s;
  color: white;
}

.app-title {
  background-color: rgb(215, 255, 215);
  width: 100%;
  margin:0;
  border-radius: 5px;
  padding:5px;
  border-bottom: 3px solid grey;
}



.app-items button{
  width: 100px;
  height: 100px;
  cursor: pointer;
}

 input{
  width:200px;
  font-size:18px;
  border-radius: 6px;
}



.app-items{
  width: 98vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px 0;
  justify-content:center;
  align-items:center;
  gap:5px;
}


.items{
  min-height: 50px;
  min-width: 95%;
  
  padding: 5px;
  border-radius: 5px;
  background: #ffffff;
  border:1px solid grey;
  box-shadow:  2px 2px 1px lightgrey;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  
}

.items p{
  font-size:22px;
  display: flex;
  justify-content: start;
  align-items:center;
  flex: 0.5;
  min-width: 150px;
  font-weight: 400;
}



@media screen and (max-width: 1030px) {
  .items p{
    
    font-size:13px;
    flex:0.5;
    margin-right:2px;
  }
  
  .app-items input{
    width:25%;
    font-size:10px;
  }
  .app-items button{
    width:80px;
    height: 80px
  }
}

@media screen and (max-width: 750px) {
  .items p{
    
    font-size:10px;
    flex:0.5;
    margin-right:10px;
  }
  
  .app-items input{
    width:25%;
    font-size:5px;
  }
  .app-items button{
    width:50px;
    height: 50px
  }
}