.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  gap: 10px;
  padding-bottom: 20px;
}

input{
  width:200px;
  height: 30px;
  font-size:20px;
  margin: 5px;
}

button{
  width:100px;
  height: 40px;
  font-size:25px;
  margin: 5px;
}

.app-items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content:center;
}


.items{
  min-height: 200px;
  width: 300px;
  padding: 10px;
  border-radius: 19px;
  background: #ffffff;
  box-shadow:  18px 18px 36px #d4d3d3,
             -18px -18px 26px #ffffffda;
}