.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  gap: 10px;
  padding-bottom: 20px;
}



button{
  width:100px;
  height: 80px;
  cursor: pointer;
}




.app-items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content:center;
  align-items:center;
}


.items{
  min-height: 50px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background: #ffffff;
  border:1px solid grey;
  box-shadow:  5px 2px 5px lightgrey;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  
}

.items p{
  font-size:22px;
  display: flex;
  justify-content: start;
  align-items:center;
  flex: 0.5;
}

@media screen and (max-width: 768px) {
  .items p{
    min-width: 50%;
    font-size:12px;
    flex:0.5
  }
  input{
    
    font-size:12px
  }
  button{
    width:60px;
    height: 60px
  }
}